{% extends 'base.html' %}
{% block loader %} {% include 'loader.html' %} {% endblock loader %}
{% block header %} {% include 'header.html' %} {% endblock header %}
{% block carousel %} {% include 'carousel.html' %} {% endblock carousel %}
{% block content %}

<div class="container">
  <div class="row mt-5 product">
    <h1 class="title">{{categ.name}}</h1>
    
    {% for item in catprod %}
      <div class="col-12 col-md-6 col-lg-3 mt-3">
        <div class="card">
          <a href="{% url 'detail' item.id item.slug %}"><img src="{{item.pix.url}}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">{{item.name|title}}</h5>
            <p class="card-text">₦{{item.price}}</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
    {% endfor %}
      
      
  </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center mt-5 mb-5">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
</div>
  {% endblock content %}
  {% block footer %}{% include 'footer.html' %}{% endblock footer %}